

    <div fxLayout="row" fxLayoutAlign="center center"  fxLayoutGap="5px">
  
<mat-card fxFlex="30" fxFlexAlign="stretch">
    <mat-card-header>
      <mat-card-title style="box-align: center">
          <h2>Total</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout = "row" fxLayoutAlign="center center">
        <span class="badge" style="font-size: 800%"><h1 mat-h1>{{lstEmps?.length}}</h1></span>
    </mat-card-content>
</mat-card>
<mat-card fxFlex="70" fxFlexAlign="stretch">
  
    <mat-card-content>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="EmployeeID">
              <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.employeeID}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="EmployeeName">
              <mat-header-cell *matHeaderCellDef>Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.employeeName}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="EmployeeCompany">
              <mat-header-cell *matHeaderCellDef> Company </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.employeeCompany}} </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="EmployeeTrade">
              <mat-header-cell *matHeaderCellDef> Trade </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.employeeTrade}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="TimeStamp">
              <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.timeStamp| date:'mediumTime'}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </table>
          <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
        </mat-card-content>
      </mat-card>

</div> 